body {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-right: 25%;
}

a{
    margin-top: 20px;
    font-size: 40px;
}

h1{
    font-size: 75px;
    margin-bottom: 10px;
}

h2{
    font-size: 50px;
    margin-bottom: 10px;
}

p{
    font-size: 30px;
}

ul{
    font-size: 30px;
}

li{
    margin-bottom: 15px;
}

.notBold{
    font-weight: normal;
}

.blackText{
    color: black;
}

.bottom{
    margin-bottom: 50px;
}